<div class="modal-header">
  <svg
    xmlns="http://www.w3.org/2000/svg"
    width="140"
    height="140"
    viewBox="0 0 140 140"
  >
    <g id="Password_bage" transform="translate(-306 -300)">
      <g id="Group_8" data-name="Group 8" transform="translate(0 -17)">
        <rect
          id="Rectangle_8"
          data-name="Rectangle 8"
          width="140"
          height="140"
          rx="18"
          transform="translate(306 317)"
          fill="#ededed"
        />
      </g>
      <g id="password_icon" transform="translate(-133 0.267)">
        <path
          id="c9c59968e8b4c23469224f9d08d13a64"
          d="M104,4H24A20,20,0,0,0,4,24v80a20,20,0,0,0,20,20h80a20,20,0,0,0,20-20V24A20,20,0,0,0,104,4Zm10,100a10,10,0,0,1-10,10H24a10,10,0,0,1-10-10V24A10,10,0,0,1,24,14h80a10,10,0,0,1,10,10ZM83.1,46.1A17.86,17.86,0,0,0,66,59H32a5,5,0,0,0-5,5V76.895a5,5,0,1,0,10,0V69h5v7.895a5,5,0,1,0,10,0V69H66A17.86,17.86,0,1,0,83.1,46.1Zm0,25.79A7.9,7.9,0,1,1,91,64a7.9,7.9,0,0,1-7.9,7.895Z"
          transform="translate(445 305.733)"
          fill="#3c6df1"
        />
      </g>
    </g>
  </svg>
  <button
    type="button"
    class="close"
    data-dismiss="modal"
    aria-label="Close"
    (click)="this.bsModalRef.hide()"
  ></button>
</div>
<div class="modal-body">
  <div>
    <a href="https://www.papara.com" target="_blank">www.papara.com</a>
    ’a giriş yap ve kayıtlı e-posta adresin veya telefon numaran ile
    <a
      href="https://www.papara.com/personal/auth/login/email-phone"
      target="_blank"
      >Devam Et</a
    >
    butonuna bas.
  </div>
  <div>
    Papara giriş menüsündeki
    <a
      href="https://www.papara.com/personal/auth/login/forgot-password"
      target="_blank"
      >Şifremi Unuttum</a
    >
    seçeneğine tıkla.
  </div>
  <div>
    E-posta adresine gönderilen şifre oluşturma linkini kullanarak yeni şifreni
    belirleyebilirsin.
  </div>
</div>
