.modal-header {
    text-align: center;
    border-bottom: none;
    padding: 0;
    position: relative;
    padding-top: 46px;
    padding-bottom: 24px;

    svg {
        width: 100px;
        height: 100px;
        margin: 0 auto;
    }

    .close {
        position: absolute;
        right: 25px;
        top: 25px;
        border-radius: 50px;
        background-color: #3C6DF1;
        color: #fff;
        padding: 0;
        width: 30px;
        height: 30px;
        opacity: 0.8;

        &:hover {
            opacity: 1;
        }

        &::after {
            content: "×";
            font-size: 20px;
            color: #fff;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -55%);
        }
    }
}

.modal-body {
    color: #5D5D5D;
    display: grid;
    text-align: center;
    justify-content: center;
    font-weight: 500;
    gap: 1rem;
    margin: 0 auto;
    padding-bottom: 36px;
    font-size: 14px;

    >div {
        width: 275px;
        font-weight: 600;

    }

    a {
        color: #3C6DF1;
    }
}