image:
  name: eteam/oreo:latest
  username: $DOCKER_HUB_USER
  password: $DOCKER_HUB_PASSWORD
  email: $DOCKER_HUB_EMAIL
definitions:
  services:
    docker:
      memory: 7168
pipelines:
  branches:
    dev:
      - step:
          caches:
            - docker
          name: Build Dev Docker Image
          services:
            - docker
          size: 2x
          script:
            - echo "Build Docker Image for Develop Branch"
            - docker build -t checkout-dev:${BITBUCKET_BUILD_NUMBER} -t checkout-dev:latest -f Dockerfile .
            - echo "Docker Image Build Completed!"
    sandbox:
      - step:
          caches:
            - docker
          name: Build Sandbox Docker Image
          services:
            - docker
          size: 2x
          oidc: true
          script:
            - echo "Build Docker Image for Sandbox checkout"
            - docker build -t checkout-sandbox:${BITBUCKET_BUILD_NUMBER} -t checkout-sandbox:latest -f Dockerfile .
            - pipe: atlassian/aws-ecr-push-image:2.4.0
              variables:
                AWS_DEFAULT_REGION: $AWS_DEFAULT_REGION
                AWS_OIDC_ROLE_ARN: $AWS_OIDC_ROLE_ARN
                IMAGE_NAME: checkout-sandbox
                TAGS: '${BITBUCKET_BUILD_NUMBER} latest'
      - step:
          name: Update and push new version artifacts
          script:
            - COMMIT_MESSAGE=`git log --format=%B -n 1 $BITBUCKET_COMMIT`
            - git config --global user.email "devops@financialhouse.io"
            - git config --global user.name "Bitbucket Integration User"
            - export IMAGE="346023424232.dkr.ecr.eu-west-1.amazonaws.com/checkout-sandbox:${BITBUCKET_BUILD_NUMBER}"
            - echo "Clone helm repository"
            - git clone https://fh-devops-integration-user:$GITHUB_TOKEN@github.com/financialhouse/giza-helm-charts.git && cd giza-helm-charts
            - echo "Update version and appVersion to ${BITBUCKET_BUILD_NUMBER} in Chart.yaml file"
            - yq -i '.version = env(BITBUCKET_BUILD_NUMBER) | .appVersion = env(BITBUCKET_BUILD_NUMBER)' sandbox/checkout/Chart.yaml
            - echo 'Update appv3.image.tag to ${BITBUCKET_BUILD_NUMBER} in values.yaml file'
            - yq -i '.appv3.image.tag = env(BITBUCKET_BUILD_NUMBER)' sandbox/checkout/values.yaml
            - echo 'Update appv3.image.for main container in values.yaml file'
            - yq -i '.appv3.containers.0.image = env(IMAGE) | .appv3.image.tag = env(BITBUCKET_BUILD_NUMBER)' sandbox/checkout/values.yaml
            - echo "Push changes back to repository"
            - git add .
            - git commit -m "$COMMIT_MESSAGE"
            - git push -u origin master
    master:
      - step:
          caches:
            - docker
          name: Build Production Docker Image
          services:
            - docker
          size: 2x
          oidc: true
          script:
            - echo "Build Docker Image for Prod checkout"
            - docker build -t checkout-prod:${BITBUCKET_BUILD_NUMBER} -t checkout-prod:latest -f Dockerfile .
            - pipe: atlassian/aws-ecr-push-image:2.4.0
              variables:
                AWS_DEFAULT_REGION: $AWS_DEFAULT_REGION
                AWS_OIDC_ROLE_ARN: $AWS_OIDC_ROLE_ARN
                IMAGE_NAME: checkout-prod
                TAGS: '${BITBUCKET_BUILD_NUMBER} latest'
      - step:
          name: Update and push new version artifacts
          script:
            - COMMIT_MESSAGE=`git log --format=%B -n 1 $BITBUCKET_COMMIT`
            - git config --global user.email "devops@financialhouse.io"
            - git config --global user.name "Bitbucket Integration User"
            - echo "Clone helm repository"
            - git clone https://fh-devops-integration-user:$GITHUB_TOKEN@github.com/financialhouse/giza-helm-charts.git && cd giza-helm-charts
            - echo "Update version and appVersion to ${BITBUCKET_BUILD_NUMBER} in Chart.yaml file"
            - yq -i '.version = env(BITBUCKET_BUILD_NUMBER) | .appVersion = env(BITBUCKET_BUILD_NUMBER)' prod/checkout/Chart.yaml
            - echo 'Update appv2.image.tag to ${BITBUCKET_BUILD_NUMBER} in values.yaml file'
            - yq -i '.appv2.image.tag = env(BITBUCKET_BUILD_NUMBER)' prod/checkout/values.yaml
            - echo "Push changes back to repository"
            - git add .
            - git commit -m "$COMMIT_MESSAGE"
            - git push -u origin master

