.loading {
  overflow: hidden;
  opacity: 0;
  visibility: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.65);
  z-index: 0;
  transition: all 1s;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column-reverse;
  gap: 0.5rem;
  color: #fac800;
  font-size: 1.2rem;
  font-weight: 500;
  background: url("../img/icon/loading.svg") no-repeat;
}

.loading.active {
  z-index: 1999;
  opacity: 1;
  visibility: visible;
}

i.loading-icon {
  background: url("../img/icon/loading.svg") no-repeat;
  display: block;
  width: 40px;
  height: 40px;
}

i.loading-icon-white {
  background: url("../img/icon/loading-white.svg") no-repeat;
  display: block;
  width: 40px;
  height: 40px;
}