<div class="loading-pContent" style="padding: 100px 2rem">
    <div class="pContent">
        <div class="d-flex flex-column align-center">
            <div class="icon mb-3">
                <img src="assets/img/icon/warning-sign.svg" alt="Error">
            </div>
            <h1>
                {{'404'}}
            </h1>
            <h3 class="mb-4">
                {{'Page Not Found'}}
            </h3>
            <p>
                {{'page_not_found' | translate}}
            </p>
        </div>
    </div>
</div>