.label {
  display: block;
  text-transform: capitalize;
  margin-bottom: 5px;
  font-size: 15px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.47;
  letter-spacing: normal;
  color: #303234;
}



.phone {
  &-container {
    position: relative;
  }

  &-input {
    background: #ffffff;
    border-radius: 8px;
    height: 54px;
    width: 100%;
    padding-left: 16px;
    padding-right: 16px;
    z-index: 1;
    transition: .2s all;
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 9%);
    display: block;
    font-size: 1rem;
    line-height: 1.5;
    background-color: #fff;
    background-clip: padding-box;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    border: 1px solid #e1e4e8;
    padding: 14px 16px;
    color: #495057;
    border-radius: 6px;
    padding-left: 120px;

    &:focus {
      border-color: #286efa;
    }

    &:focus-visible {
      outline: none;
    }
  }

  &-input.ng-touched.ng-invalid {
    border-color: #fc2a44;
  }

  &-select {
    position: absolute;
    top: 0;
    left: 0;
    width: 128px;
  }
}


.search-input {
  background: #ffffff;
  border-radius: 8px;
  border: 1px solid rgba(0, 0, 0, .12);
  height: 42px;
  width: 100%;
  padding-left: 16px;
  padding-right: 16px;
  z-index: 1;
  transition: .2s all;
}

.search-input:focus-visible {
  outline: none
}

.search-input:focus {
  border-color: #286efa;
}












:host {
  width: 100%;
}

.input-container {
  position: relative;
}

.input {
  width: 100%;
  height: 3.5rem;
  box-sizing: border-box;
  align-self: stretch;
  padding: 0.75rem 1rem;
  background-color: #f8f9fa;
  font-size: 1.125rem;
  line-height: 1.5;
  text-align: left;
  color: #6c718c;
  font-weight: 500;
  border-radius: 0.75rem;
  border: solid 2px transparent;

  &:focus {
    outline: none;
    border-color: var(--secondary-color);
  }

  &:disabled {
    opacity: 0.5;
  }

  &::placeholder {
    font-size: 1rem;
    font-weight: 400;
    color: #b4b4bc;
  }

  &.has-icon {
    padding-right: 44px;
  }

  &.amount {
    height: 5rem;
    font-weight: 900;
    line-height: 1.1;
    color: #7c8199;
    font-size: 3.25rem;
    padding-left: 60px;

    &::placeholder {
      font-size: 3.25rem;
      font-weight: 900;
      line-height: 1.1;
      color: #b4b4bc;
    }
  }

  /* For most modern browsers */
  &[type="number"]::-webkit-inner-spin-button,
  &[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* For Firefox */
  &[type="number"] {
    appearance: textfield;
  }
}

:host.ng-invalid.ng-touched .input {
  border-color: #ef3c3c;
}

.icon {
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
  height: 1.25rem;
  width: 1.25rem;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
}

.currency {
  position: absolute;
  left: 1rem;
  top: 50%;
  transform: translateY(-50%);
  color: #b4b4bc;
  font-size: 3.25rem;
  font-weight: 900;
  line-height: 1.1;
}

.has-value .currency {
  color: #7c8199;
}